h4 {
  margin-bottom: 1%;
  margin-top: 2%;
}

h1{
  margin-bottom: 0;
  font-weight: bold;
}

h3 {
  margin-bottom: 0;
  margin-top: 2%;
}

p{
  padding-left: 22px;
  margin-bottom: 1%;
}

.break-word{
  word-wrap: break-word;
}

.red{
  color: red;
}

.orange{
  color: rgb(244, 159, 3);
}

.yellow{
  color: rgb(255, 249, 70);
}

.teal{
  color: teal;
}

.grey{
  color: rgb(91, 90, 90);
}

.marker-span{
  padding-left: 22px;
}

.map-list-item {
  padding-left: 5px;
  border-bottom: 1px solid;
}

.map-list-item-active{
  background-color: rgb(254, 113, 136);
  height: 25%;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5px;
}

.segment.map-list-header {
  text-align: center;
  font-size: 17px;
  margin-bottom: 0;
}

.pointing.below.circular.label.map-marker-active{
  padding: 4px!important;
  border: 3px solid;
  border-color: rgb(151, 255, 253)!important;
}

div.map-list-item:hover {
  background-color: rgb(254, 113, 136);
  padding-top: 5%;
  padding-bottom: 5%;
  cursor: pointer;
}

div.map-list-item-active:hover {
  background-color: rgb(254, 113, 136);
  cursor: pointer;
}

div.ui.top.left.mini.popup.transition.visible.map-marker {
  border-radius: 0;
  border: 1px solid white;
  opacity: 0.7;
  background-color: grey;
  color: white;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#googleMapReact {
  height: 100%;
  width: 100%; 
  z-index: 7;
}

#post-detail-map-div{
  height: 70%;
  width: 30%; 
  margin: 0;
  opacity: 0.6;
  
}

.google-map-container{
  height: 60%;
  width: 100%;
}

.post-detail-div{
  width: 40%;
  height: 80%;
  padding-top: 1%;
  opacity: 0.55;
  
}

.windows-btn-edit {
  margin-left: auto;
  border-radius: 0;
  border: 0.5px solid rgb(142, 142, 142);
  border-top: 0;
  border-left: 0;
  background: rgb(198, 197, 197);
  padding: 5.5px 3px;
  box-shadow: 
    2px 1px 0.7px rgb(91, 91, 91),
    inset 1px 1px 2px rgb(114, 114, 114);
  margin-top: 2%;
  
  &:focus {
    outline: 0;
  }
  
  &:hover {
    background-color:rgb(181, 181, 181);
    cursor: pointer;
  }
  
  &:active {
    background:rgb(133, 133, 133);
  }
  
  .window-btn-span-cancel {
    padding: 1px 2rem;
  }
  
  &::first-letter {
    text-decoration: underline;
  }
}

@media (max-width: 1000px) {
  .post-detail-div{
    display: inline-block;
  }
  .post-detail-map-div{
    display: inline-block;
  }

}

@media (min-width: 1200px){
  .post-detail-div{
    overflow-y: scroll;
    height: 90%;
    width: 50%;
    padding-right: 5%;
  }
}
