
.navbar-container {
  position: fixed; 
  top: 0;
  width: 100%;
  border-top: 4px solid rgb(223, 222, 222);
  border-right: 2px solid rgb(210, 210, 210);
  border-left: 2px solid rgb(210, 210, 210);
  
  z-index: 6;

  .ui[class*="top attached"].menu{
  margin-top: 0;
  background-color: rgb(210, 210, 210);
  height: 40px;

  
  .stoke-bar {
    color: beige;
    font-size: 200%;
    padding: 0 0.7em;
    letter-spacing: 1vw;
    border-radius: 0


    
    
    
  }

} 

  .ui.menu[class*="top attached"]:first-child {
    background-color: rgb(95, 192, 252);
    // background-color: rgb(111, 115, 235);
    border-radius: 0;
    

    
  }
  
  .ui.attached.tabular.menu {
    margin: 0;
    border: 0;
    border-radius: 0;

}

  .ui.attached.tabular.menu.file-menu {
    min-height: 0;
    height: 25px;
    
    
    .item {
      padding-top: 1px;
      padding-bottom: 3px;
      
      border: 0;
      margin-top: 0;
      margin-bottom:0;

      .under-line {
        text-decoration: underline;
      }

    }

    

  }

}



#sign-out {
  
  padding: 6px 5px;
  border-radius: 0;
  box-shadow: 
    2px 1px 0.7px rgb(159, 158, 158),
    inset 1px 2px 1.5px rgb(196, 194, 194);
  


    .sign-out-content {
      font-size: 5px;
    }

    i {
      margin: 0;
    }
  
}

#login{
  margin-right: 4px;
  // padding-left: 10px;
  // padding-right: 10px;
  padding: 6px 5px;
    i {
      margin:0;
    }
}

.ui.tabular.menu.active.item{
  border-radius: 0;

  
}